table {
  display: flex;

  tbody{
    display: flex;
    flex-direction: column;

    td{
      cursor: pointer;
      display: flex;
      padding: 0 !important;

      .form-control{
        padding: 0.2em;
        height: 100%;
        border: none;
      }
    }

    tr{
      width: 100%;
      flex-direction: row;
      display: flex;
      flex: 1;

      .editing-row{
        width: 105%;
        right: 2.5%;

      }
    }
  }

  .table-header{
    span{
      padding: 5px;
    }
    &:hover{
      background-color: transparent;
    }
  }

  .clickable-field{
    height: 100%;
    flex: 1;
    position: relative;
    padding: 5px;
  }

  .editable-wrap{
    width: 100%;
    height: 100%;

    input{
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

  [editable-number], input[type=checkbox]{
    text-align: right;
    float: right;
    height: initial;
  }

  input[type=checkbox]{
    right: 5px;
    top: 5px;
  }

  .btn-primary, .btn-default, .btn-danger{
    box-shadow: none;
    background-image: none;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .btn-danger{
    color: #D9534F;
    background-color: transparent;
  }

  .btn-primary, .btn-default{
    width: 50%;
  }

  .editable-empty{
    color: #B2B8BD;
    &:hover{
      color: inherit;
    }
  }

  .number-field{
    text-align: right;
  }
}


.editing-row{
  position: relative;
  background: white;
  width: 110%;
  left: -5%;
  border: 1px solid #ddd;
  font-size: 110%;

  td {
    height: 3em;
    vertical-align: middle !important;

    input, select {
      height: 100% !important;
      margin: 0;
    }

    input[type=checkbox] {
      top: 0;
    }
  }
}


//********Extra Row Details**********//
table{
  .extra-row-details{
    display: none;
  }
}
