<div ng-controller="wizardChargeController">
  <div class="StableChargeTypeGrid">
    <h3>Stable Charge Types</h3>
     <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold" class="table-header">
        <td style="width:55%"><span>Description</span></td>
        <td style="width:20%"><span>Unit</span></td>
        <td style="width:10%"><span>Rate ($)</span></td>
        <td style="width:16%"><span>In Stable</span></td>
      </tr>
      <tr ng-repeat="charge in stableCharges" class="table-row">
        <td style="width:55%" ng-blur="hideRow(event)">
          <div style="display:none">
            <div editable-number="charge.Id" e-form="stablesform" e-name="Id" value="{{charge.Id}}"></div>
          </div>
          <!-- editable description, text -->
          <div type="text" ng-click="showRow($event, this.stablesform)" editable-text="charge.Description" class="clickable-field" e-name="Description" e-form="stablesform" e-required value="{{ charge.description || '+ description' }}">
            {{ charge.Description || '+ description' }}
          </div>
        </td>
        <td style="width:20%">
          <!-- editable units, dropdown -->
          <div editable-select="charge.Unit" ng-click="showRow($event, this.stablesform)" class="clickable-field" e-name="Unit" e-form="stablesform" e-ng-options="u.value as u.text for u in units" value="{{ charge.unit }}">
            {{ units[charge.Unit].text }}
          </div>
        </td>
        <td style="width:10%">
          <!-- editable rates, number -->
          <div editable-number="charge.Rate" ng-click="showRow($event, this.stablesform)" class="clickable-field" e-name="Rate" e-form="stablesform" e-ng-options="g.id as g.text for g in groups">
            {{ charge.Rate }}
          </div>
        </td>
        <td style="width:10%">
          <!-- editable units, checkbox -->
          <input type="checkbox" ng-click="showRow($event, this.stablesform)" class="clickable-field" e-form="stablesform" tabindex="-1" e-name="InStable" ng-checked="{{charge.InStable}}" />
        </td>
        <td style="white-space: nowrap; padding: 0; width: 6%">
          <!-- form -->
          <form editable-form name="stablesform" onbeforesave="postcharge($data)" class="form-buttons form-inline" shown="inserted == user">
          </form>
          <button class="btn btn-danger" tabindex="-1" class="clickable-field" ng-click="removeStableRow($index)">
            <i class="fa fa-trash fa-lg"></i>
          </button>
        </td>
      </tr>
    </table>

    <button class="btn btn-default" tabindex="-1" ng-click="addStableRow()">Add row</button>
  </div>

  <div class="standardChargeTypeGrid">
      <h3>Standard Charge Types</h3>
       <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold" class="table-header">
          <td style="width:80%"><span>Description</span></td>
          <td style="width:20%"><span>Rate ($)</span></td>
        </tr>
        <tr ng-repeat="charge in standardCharges">
          <td style="width: 80%;">
            <!-- editable username (text with validation) -->
            <div
            ng-click="showRow($event, this.standardform)"
            editable-text="charge.Description"
            e-name="Description"
            e-form="standardform"
            onbeforesave="validateDescription($data, user.id)"
            e-required>
              {{ charge.Description || '+ description' }}
            </div>
          </td>
          <td style="text-align: right; width: 15%;">
            <!-- editable group (select-remote) -->
            <div
            ng-click="showRow($event, this.standardform)"
            editable-select="charge.Rate"
            e-name="Rate"
            e-form="standardform"
            class="number-field"
            e-ng-options="g.id as g.text for g in groups">
              {{ charge.Rate || '0.00'}}
            </div>
          </td>
          <td style="white-space: nowrap; padding: 0; width: 5%;">
            <!-- form -->
            <form
            editable-form name="standardform"
            onbeforesave="saveChargeType($data, user.id)"
            class="form-buttons form-inline"
            shown="inserted == user">
              <button
              class="btn btn-danger"
              ng-click="removeStandardRow($index)">
              <i class="fa fa-trash fa-lg"></i>
              </button>
            </form>
          </td>
        </tr>
      </table>

      <button class="btn btn-default" ng-click="addStandardRow()" style="margin-bottom: 15px;">Add row</button>
    </div>

    <div class="form-group pull-right">
      <button class="btn btn-default" ng-click="navigate('horses')">Next</button>
    </div>

</div>
